.cont_creator {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.creator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    background-color: rgb(27, 26, 26);
    border-radius: 20px;
    padding: 20px;
    margin: 5px 20px 20px 20px;
    box-shadow: 7px 7px 23px -2px rgba(140,140,140,0.86);
}

.p_form_title {
    color: rgb(77, 144, 127);
    font-family: 'Gochi Hand', cursive;
    font-size: 23px;
    font-weight: lighter;
}

.danger {
    color: rgb(155, 26, 14);
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
}

.form_1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.items_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_small {
    background-color: rgb(27, 26, 26);
    margin-left: 5px;
    border: 2px solid rgb(208, 210, 210);
    border-radius: 8px;
    color: rgb(208, 210, 210);
    font-size: 18px;
}

.input_ingresar {
    background-color: rgb(27, 26, 26);
    margin-left: 5px;
    border: 2px solid rgb(208, 210, 210);
    border-radius: 8px 0 0 8px;
    color: rgb(208, 210, 210);
    font-size: 18px;
    margin-top: 1px;
}

.boton_ingresar {
    padding: 1px 7px 1px 7px;
    background-color: rgb(27, 26, 26);
    border: 2px solid rgb(208, 210, 210);
    border-radius: 0 8px 8px 0;
    color: rgb(208, 210, 210);
    font-size: 18px;
}

.boton_ingresar:hover {
    background-color: rgb(208, 210, 210);
    color: rgb(27, 26, 26);
}

.num_paso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: -20px;
}

.p_step {
    color: rgb(208, 210, 210);
    font-family: 'Gochi Hand', cursive;
    font-size: 23px;
    font-weight: lighter;
    margin-right: 5px;
}

.p_num_step_creator {
    color: rgb(208, 210, 210);
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    font-weight: lighter;
    background: none;
    margin-left: 5px;
}

.items_big_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_inst {
    display: flex;
    align-items: flex-start;
}

.boton_ins {
    font-size: 18px;
    padding: 1px 7px 1px 7px;
    background-color: rgb(27, 26, 26);
    border: 2px solid rgb(208, 210, 210);
    border-radius: 8px;
    color: rgb(208, 210, 210);
}

.boton_ins:hover {
    background-color: rgb(208, 210, 210);
    color: rgb(27, 26, 26);
}

.big_text {
    background-color: rgb(27, 26, 26);
    margin-left: 5px;
    border: 2px solid rgb(208, 210, 210);
    border-radius: 8px;
    color: rgb(208, 210, 210);
    font-size: 18px;
}

.fDiets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.p_diet_check {
    color: rgb(208, 210, 210);
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
    margin-left: 15px;
}

.check {
    background-color: rgb(27, 26, 26);
    margin-left: 5px;
    border: 2px solid rgb(208, 210, 210);
    border-radius: 2px;
    color: rgb(208, 210, 210);
}

.boton_crear_rec {
    font-size: 20px;
    padding: 1px 7px 1px 7px;
    margin-top: 10px;
    background-color: rgb(27, 26, 26);
    border: 2px solid rgb(208, 210, 210);
    border-radius: 8px;
    color: rgb(77, 144, 127);
}

.boton_crear_rec:hover {
    background-color: rgb(208, 210, 210);
    color: rgb(195, 31, 31);
}

.boton_crear_rec:disabled {
    background-color: rgb(27, 26, 26);
    border: 2px solid rgb(53, 51, 51);
    color: rgb(53, 51, 51);
}

.cuadro_creado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 26, 26, 0.3);
    border-radius: 50px;
    width: 380px;
    height: 230px;
}

.img_ok {
    width: 150px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
       transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mensaje_creado {
    font-family: 'Gochi Hand', cursive;
    font-size: 25px;
    color: rgb(27, 26, 26);
    margin-top: -18px;
    margin-bottom: -8px;
}

